.Sidebar {
  background-color: $gray-900;
  min-height: 100vh;
  height: 100%;
  min-width: 15vw;
  h2 {
    font-size: $font-size-xxl;
    color: $white;
    font-weight: $weight-600;
    padding: 20px;
  }
  p{
    color: $white;
    padding: 5px 20px;
  }
  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  a {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $white;
    font-size: $font-size-md;
    font-weight: $weight-500;
    &:hover {
      background-color: $gray-800;
    }
    &:active {
      text-decoration: none;
    }
    img {
      filter: brightness(0) invert(1);
      margin-right: 10px;
    }
  }
}
.Active {
  border-left: 5px $green-gray-600 solid;
  background: rgb(150,178,151);
  background: linear-gradient(90deg, rgba(150,178,151,0.2867997540813201) 0%, rgba(255,255,255,0.12153364763874297) 100%);
}
.Show{
  transform: translateX(15vw);
}
.Hide{
  transform: translate(-15vw);
}
@keyframes animationShow {
  from{
    transform: translateX(-100px);
  }
  to{
    transform: translateX(0);
    display: block;
  }
}