.details,
.infoOption {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  background-color: $gray-800;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}
