.navItem {
  color: $gray-400;
  font-weight: $weight-500;
  font-size: $font-size-sm;
  padding-right: 32px;
}

.labelWithDropdown {
  display: flex;
  align-items: center;
  img {
    margin-left: 8px;
  }
}

.link {
  display: flex;
  align-items: center;
}

.active {
  color: $white;
}
